<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product table</h4>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>
                                   Name
                                </th>
                                <th>
                                     Phone number
                                </th>
                                <th>
                                 Email
                                </th>
                              <th>
                                Subject
                                </th>
                              <th>
                                 Message
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>
                                    {{i.Name}}
                                </td>
                                <td>
                                  {{i.Number}}
                                </td>
                                <td>
                                  {{i.Email}}
                                </td>
                                <td>
                                  {{i.Subject}}
                                </td>
                                <td>
                                  {{i.Message}}
                                </td>
                                <td>
                                    <a href="{% url 'deletecontact' dataid=i.id %}">
                                        <button class="btn btn-primary">Delete</button>
                                    </a>
                                </td>


                            </tr>
                       {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}